@if (todo()) {
  <mat-card class="todo-card">
    <mat-card-header>
      <mat-card-title class="todo-card-category">{{ todo().category }}</mat-card-title>
      <mat-card-subtitle class="todo-card-owner">{{ todo().owner }}</mat-card-subtitle>
    </mat-card-header>
    @if (!simple()) {
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon>description</mat-icon>
            <p matListItemTitle>Body</p>
            <p matListItemLine class="todo-card-body">{{ todo().body }}</p>
          </mat-list-item>
          <mat-divider [inset]=true></mat-divider>
          <mat-list-item>
            <mat-icon matListItemIcon>check_circle</mat-icon>
            <p matListItemTitle>Status</p>
            <p matListItemLine class="todo-card-status">{{ todo().status ? 'Complete' : 'Incomplete' }}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    }
    @if (simple()) {
      <mat-card-actions>
        <button mat-button data-test="viewTodoButton" [routerLink]="['/todos', todo()._id]">View Todo</button>
      </mat-card-actions>
    }
  </mat-card>
}
